body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  position: relative;
  color:black;
}
.App-header {
  margin-top: -50px;
  position: relative;
  background-image: url("./assets/bg.jpg");
  
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;  
  color: white;
}
.navbar{
  display: flex;
  justify-content: space-between;

}
.logo{
  color: rgb(0, 4, 255);
  position: relative;
  top: 50px;
  left: 50px;
}
.navteams{
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
  justify-content: space-between;
  width: 300px;
}
.adresstitle{
  text-align: center;
  position: relative;
  top: 300px;
  

}
.adress{
  color: rgb(255, 60, 0);
  
 
  text-decoration: underline;
}
.App-link {
  color: #fb6169;
}
.title{
  color: rgb(0, 4, 255);
font-size:40px;
}
